/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

/***** CONTENT CSS ******/
body {
  margin-bottom: 100px;
  background-color: #1e9ad6;
}
.tip {
  background-color: #F1602F !important;
  width: 275px;
  height: 45px;
  border-radius: 13px !important;
  box-shadow: 0 5px 7px #888 !important;
  color: white !important;
  padding: 5px 10px !important;
  border: 1px solid #E94913 !important;
  text-align: center !important;
  z-index: 1 !important;
}
.main {
  width: 950px;
  margin: 0 auto;
  .scramble, .non_scramble {
    width: 770px;
    margin: 0 auto;
    img {
      cursor: pointer;
      margin-right: 5px;
    }
  }
  .non_scramble {
    img {
      cursor: default;
    }
  }
}
.progress {
  position: fixed;
  right: 50%;
  top: 195px;
  margin-right: -500px;

  .circle {
    cursor: pointer;
    width: 10px;
    height: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 3px solid white;
    &.full {
      background-color: white;
    }
  }
  .arrow {
    cursor: pointer;
    width: 29px;
    height: 29px;
    margin-bottom: 10px;
    border-radius: 29px;
    border: 3px solid white;
    text-align: center;
    line-height: 28px;
    text-indent: 1px;
    margin-left: -9px;
  }
}
#topmsg {
  font-weight: bold;
  line-height: 35px;
  z-index: 2;
  height: 75px;
  color: white;
  font-size: 30px;
  box-shadow: 0 7px 36px #333;
  background-color: #1e9ad6;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}
#footer {
  z-index: 2;
  position: fixed;
  bottom: 0;
  height: 208px;
  left: 0;
  right: 0;
  background: url(/images/footer.png) top center no-repeat;

  #about_time {
    float: left;
    position: relative;
    top: 80px;
    left: 25px;
    color: #0079c2;
    font-size: 25px;
    font-family: Helvetica;
  }
  #sunrise {
    text-shadow: -1px -1px #338AAC;
    position: relative;
    top: 30px;
    float: right;
    color: white;
    right: 0;
    p {
      font-size: 25px;
      margin: 0;
      text-indent: 20px;
    }
    div {
      float: left;
      width: 55px;
      font-size: 20px;
      text-transform: uppercase;
      text-align: center;
      border-right: 1px solid white;
      padding: 0 7px;
      &:last-child {
        border-right: 0 none;
      }
      span {
        font-size: 40px;
        line-height: 40px;
      }
    }
  }
  #wake_up {
    p { 
      font-size: 30px;
      float: left;
      margin: 0;
      font-weight: bold;
      margin-left: 10px;
    }
    a {
      box-shadow: 0 1px #549423;
      text-shadow: 0 1px #3F6124;
      background-color: #7BC143;
      border-radius: 10px;
      padding: 7px 13px;
      color: white;
      text-decoration: none;
      font-family: Arial;
      font-size: 20px;
      float: right;
    }
    padding: 15px;
    width: 560px;
    overflow: auto;
    color: #f1602f;
    position: relative;
    left: 50%;
    margin-left: -280px;
    top: -55px;
    border-radius: 10px;
    box-shadow: 0 3px 3px #555;
    background-color: white;
  }
}
.mobility { 
  background: url(/images/mobility.png) top center no-repeat fixed;
  background-size: cover;
  height: 648px;
  margin-top: 75px;
  min-width: 950px;
  .mobility_content {
    position: relative;
    padding-top: 205px;
  }
}
.context { 
  background: url(/images/context.png) top center no-repeat fixed;
  background-size: cover;
  height: 814px;
  min-width: 950px;
  .context_words {
    width: 660px;
  }
  .context_content {
    padding-top: 390px;
  }
}
.social { 
  background: url(/images/social.png) top center no-repeat fixed;
  background-size: cover;
  height: 811px;
  min-width: 950px;
  .social_words {
    width: 565px;
  }
  .social_content {
    padding-top: 385px;
  }
}
.collaboration { 
  background: url(/images/collaboration.png) top center no-repeat fixed;
  background-size: cover;
  height: 790px;
  min-width: 950px;
  .collaboration_words {
    width: 875px;
    .letter {
      widht: 62px;
    }
  }
  .collaboration_content {
    padding-top: 400px;
  }
}
.optimized{ 
  background: url(/images/optimized.png) top center no-repeat fixed;
  background-size: cover;
  height: 810px;
  min-width: 950px;
  .optimized_words {
    width: 855px;
  }
  .optimized_content {
    padding-top: 385px;
  }
}
.cloud{ 
  background: url(/images/cloud.png) top center no-repeat fixed;
  background-size: cover;
  height: 808px;
  min-width: 950px;
  .cloud_words {
    width: 776px;
  }
  .cloud_content {
    padding-top: 385px;
  }
}
.time { 
  background: url(/images/time.png) top center no-repeat fixed;
  background-size: cover;
  height: 1001px;
  min-width: 950px;
  .time_content { 
    padding-top: 385px;
  }
  .time_words {
    width: 925px;
  }
}

.transp_message {
  border: 1px solid gray;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.2);
  width: 690px;
  height: 120px;
  margin: 10px auto;
  display: none;
  padding: 15px 30px;
  color: white;
  font-size: 23px;
  line-height: 30px;
  text-shadow: 0 1px 1px #4D4D4D;
}

#context_msg {
  width: 590px;
}
#social_msg {
  width: 490px;
  height: 100px;
}
#collaboration_msg {
  width: 800px;
  height: 70px;
}
#optimized_msg {
  width: 770px;
  height: 100px;
}
#cloud_msg {
  width: 706px;
  height: 100px;
}
#time_msg {
  width: 840px;
  height: 70px;
}

.form{ 
  background: url(/images/form.png) top center no-repeat;
  min-width: 950px;
  height: 608px;
  form {
    width: 460px;
    margin: 0 auto;
    padding-top: 200px;

    label {
      display: block;
      color: white;
      text-shadow: 0 1px black;
      margin-bottom: 4px;
      font-size: 18px;
    }
    input[type="text"] {
      padding: 5px 10px;
      width: 188px;
      border-radius: 4px;
      border: 0 none;
      height: 25px;
      box-shadow: 0 1px 3px 1px #797979;

    }
    .submit {
      float: right;
      background-color: #7BC143;
      color: white;
      border-radius: 7px;
      padding: 7px 12px;
      border: 0 none;
      box-shadow: 0 1px 3px 1px #4B4848;
      font-size: 17px;
      text-shadow: 0 1px 1px black;
    }
    .margin {
      margin-right: 35px;
    }
    .form_line {
      margin-bottom: 20px;
      overflow: auto;

      .form_field {
        width: 185px;
        float: left;
        padding: 10px;
      }
    }
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .mobility, .context, .social, .collaboration, .optimized, .cloud, .time { 
    background-attachment: scroll;
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .mobility, .context, .social, .collaboration, .optimized, .cloud, .time { 
    background-attachment: scroll;
  }
}

/***** CONTENT CSS ******/

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}